.input {
  display: flex;
  font-size: 30px;
  color: rgb(20, 223, 223);
  width: 99%;
  height: 44px;
  border: 2px solid #5d0cff;
  opacity: 0.5;
  color: white;
  background: transparent;
  outline: none;
  border-radius: 4px 0 0 4px;
}
