.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: url(background_todo.png);
  width: 700px;
  height: 700px;
  border-radius: 25px;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: transparent;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

.title {
  font-size: 30px;
}
.form {
  margin: 10px;
}
